{
    "swagger": "2.0",
    "info": {
        "title": "ShipEngine",
        "description": "ShipEngine Tracking API - real-time shipment tracking for FedEx, UPS, USPS, DHL and other carriers.",
        "version": "1.0",
        "contact": {
            "name": "ShipEngine",
            "url": "https://www.shipengine.com/docs/tracking/"
        }
    },
    "host": "api.shipengine.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "API-Key",
            "description": "ShipEngine API Key (get one at https://app.shipengine.com/)"
        }
    },
    "security": [
        {
            "api_key": []
        }
    ],
    "paths": {
        "/tracking": {
            "get": {
                "operationId": "GetTrackingInfo",
                "summary": "Get tracking information",
                "description": "Retrieves real-time tracking information for a shipment by carrier code and tracking number.",
                "parameters": [
                    {
                        "name": "carrier_code",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Carrier code: fedex, ups, usps, dhl_express, stamps_com, etc.",
                        "x-ms-summary": "Carrier Code"
                    },
                    {
                        "name": "tracking_number",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The tracking number assigned by the carrier.",
                        "x-ms-summary": "Tracking Number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tracking information returned successfully.",
                        "schema": {
                            "$ref": "#/definitions/TrackingInformation"
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid carrier code or tracking number."
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing API key."
                    },
                    "404": {
                        "description": "Tracking information not found."
                    }
                }
            }
        }
    },
    "definitions": {
        "TrackingInformation": {
            "type": "object",
            "properties": {
                "tracking_number": {
                    "type": "string",
                    "description": "The tracking number.",
                    "x-ms-summary": "Tracking Number"
                },
                "tracking_url": {
                    "type": "string",
                    "description": "URL to the carrier's tracking page.",
                    "x-ms-summary": "Tracking URL"
                },
                "status_code": {
                    "type": "string",
                    "description": "Status code: DE=Delivered, IT=In Transit, AC=Accepted, EX=Exception, AT=Delivery Attempt, NY=Not Yet Shipped, UN=Unknown",
                    "x-ms-summary": "Status Code"
                },
                "status_description": {
                    "type": "string",
                    "description": "Human-readable status description.",
                    "x-ms-summary": "Status Description"
                },
                "carrier_status_code": {
                    "type": "string",
                    "description": "Carrier-specific status code.",
                    "x-ms-summary": "Carrier Status Code"
                },
                "carrier_status_description": {
                    "type": "string",
                    "description": "Carrier-specific status description.",
                    "x-ms-summary": "Carrier Status"
                },
                "ship_date": {
                    "type": "string",
                    "description": "Date the shipment was picked up by the carrier.",
                    "x-ms-summary": "Ship Date"
                },
                "estimated_delivery_date": {
                    "type": "string",
                    "description": "Estimated delivery date.",
                    "x-ms-summary": "Estimated Delivery"
                },
                "actual_delivery_date": {
                    "type": "string",
                    "description": "Actual delivery date (when status is DE).",
                    "x-ms-summary": "Actual Delivery"
                },
                "exception_description": {
                    "type": "string",
                    "description": "Description of the exception (when status is EX).",
                    "x-ms-summary": "Exception"
                },
                "events": {
                    "type": "array",
                    "description": "Tracking events in reverse chronological order.",
                    "items": {
                        "$ref": "#/definitions/TrackingEvent"
                    }
                }
            }
        },
        "TrackingEvent": {
            "type": "object",
            "properties": {
                "occurred_at": {
                    "type": "string",
                    "description": "ISO 8601 timestamp of the event.",
                    "x-ms-summary": "Event Time"
                },
                "description": {
                    "type": "string",
                    "description": "Description of the tracking event.",
                    "x-ms-summary": "Description"
                },
                "city_locality": {
                    "type": "string",
                    "description": "City where the event occurred.",
                    "x-ms-summary": "City"
                },
                "state_province": {
                    "type": "string",
                    "description": "State or province.",
                    "x-ms-summary": "State"
                },
                "postal_code": {
                    "type": "string",
                    "description": "Postal/ZIP code.",
                    "x-ms-summary": "Postal Code"
                },
                "country_code": {
                    "type": "string",
                    "description": "Two-letter country code.",
                    "x-ms-summary": "Country"
                },
                "company_name": {
                    "type": "string",
                    "description": "Company name at delivery location.",
                    "x-ms-summary": "Company"
                },
                "signer": {
                    "type": "string",
                    "description": "Name of person who signed for delivery.",
                    "x-ms-summary": "Signer"
                },
                "event_code": {
                    "type": "string",
                    "description": "Carrier-specific event code.",
                    "x-ms-summary": "Event Code"
                },
                "status_code": {
                    "type": "string",
                    "description": "Status code for this event (DE, IT, AC, EX, AT, NY, UN).",
                    "x-ms-summary": "Event Status"
                }
            }
        }
    }
}